<div style="width: 100%; clear: both;">
<div style="float: left; width: 30%;">
<img src="https://www.utpl.edu.ec/sites/default/files/archivos/marca%20UTPL%202018-02.png", align="left" width="280" height="120">
</div>
</div>
<div style="float: right; width: 70%;">
<p style="margin: 0; padding-top: 32px; text-align:right; color:#003366; font-size:16px"><u>Herramientas para inteligencia artificial - Análisis de datos y visualización</u></p>
<p style="margin: 0; text-align:right; color:#999999; font-size:17px">Maestría en Inteligencia Artificial Aplicada</p>
</div>
</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>



#  Trabajo final

Integrantes:
- Edison Ramirez
- Byron Acaro
- Franklin Parchar

In [1]:
# Importación de librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import requests
import json
import unicodedata
import string
import random
from sqlalchemy import create_engine
from bokeh.plotting import figure, show, output_notebook
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.layouts import row
import pygwalker as pyg

In [2]:
# Lecturas de los Datasets
# Orígenes de datos

# Origen 1: Lectura del archivo CSV
athletes=pd.read_csv('athlete_events.csv')
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Origen Opcional
# Método que realiza la conexión a un servidor mysql y ejecuta un query
# Con el resultado creamos un DataFrame
def get_dataframe_from_mysql_server():
    # Parámetros de conexión
    # Estructura del connection string: mysql+pymysql://usuario:contraseña@server/nombre_base_de_datos
    connection_string = 'mysql+pymysql://root:@localhost/db_tools_ia'
    # Query builder
    query = 'SELECT item_catalogo.id, item_catalogo.codigo, item_catalogo.nombre, count(athlete_information.id) AS total_atletas FROM item_catalogo INNER JOIN athlete_information ON item_catalogo.id = athlete_information.country_id GROUP BY athlete_information.id ORDER BY item_catalogo.nombre ASC'
    
    # Creamos el motor de conexión utilizando SQLAlchemy
    engine = create_engine(connection_string)
    
    # Ejecutamos la consulta y cargamos los resultados en un DataFrame
    with engine.connect() as connection:
        df = pd.read_sql(query, connection)
    return df

dataframe_from_mysql_server = get_dataframe_from_mysql_server()
dataframe_from_mysql_server.sample(10)

In [ ]:
# Origen 2: Lectura de datos de servicio web
# El servicio utiliza un método de autenticacion mediante JWT
# Inicialmente se debe hacer un login con los datos asignados

# Configuración base
# Url del servicio para autenticación
urlLogin = "https://ia.vallext.com/api/v1/login"

# Url del servicio para obtener los datos
urlServicio = "https://ia.vallext.com/api/v1/getTotalAthletesByCountry"

# Credenciales del servicio (usuario y clave)
payload = {'email': 'usuario_api_ia', 'password': 'Pass*2024-IA'}
files=[]
headers = {}

# Invocación al servicio de autenticación
responseLogin = requests.request("POST", urlLogin, headers=headers, data=payload, files=files)
print(responseLogin.text)

In [ ]:
# Interpretamos el response del servicio para obtener el JWT
data = json.loads(responseLogin.text)
# Acceder al campo 'token' dentro del diccionario anidado
token = data['data']['token']
print("El token es:", token)

In [ ]:
# Lectura del servicio web para obtener la información adicional
payload = {}
# Configuración del servicio con el método de Authorization - Beare
headers = { 'Authorization': 'Bearer ' + token }
response = requests.request("GET", urlServicio, headers=headers, data=payload)
data = json.loads(response.text)
# Acceder al campo 'data' dentro del json response
dataService = data['data']

# Crear un DataFrame a partir del resultado del servicio
dfCountries = pd.DataFrame(dataService)
dfCountries.sample(20)

In [ ]:
def obtener_inicial_string(d):
    cadena = d[0]
    return cadena
    
def generate_unique_string(a):
    # Definimos el conjunto de caracteres posibles (letras y números)
    characters = string.ascii_letters + string.digits
    # Generar la cadena usando una comprensión de lista
    random_string = ''.join(random.choice(characters) for _ in range(10))
    return random_string
    
# Agregamos 5 columnas al DataFrame
# El atleta es casado o no
dfCountries['married'] = np.random.choice([0, 1], size=len(dfCountries))
# Inicial del codigo del pais
dfCountries['country_initial'] = dfCountries['name'].apply(obtener_inicial_string)
dfCountries['country_athletes'] = dfCountries['code'] + '_' + dfCountries['total_athletes']
dfCountries['reversed_code'] = dfCountries['code'].apply(lambda x: x[::-1])
dfCountries['hash'] = dfCountries['name'].apply(generate_unique_string)
dfCountries.sample(10)

In [ ]:
# Se realiza una revisión inicial del dataframe del servicio y se identifican inconsistencias en la data por lo que inicia un tratamiento EDA

# Función que remueve las tildes de una cadena
def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return "".join([c for c in nfkd_form if not unicodedata.combining(c)])

# Función elimina tíldes de una columna de una dataframe
def replace_accents_in_column(df, column_name):
    if column_name in df.columns:
        df[column_name] = df[column_name].apply(lambda x: remove_accents(x) if isinstance(x, str) else x)
    else:
        raise ValueError(f"La columna '{column_name}' no existe en el DataFrame.")
    return df

dfCountries = replace_accents_in_column(dfCountries, 'name')
dfCountries.sample(20)

In [ ]:
# Limpieza de caracteres dentro del dataframe
def cleanString(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            df[column] = df[column].apply(lambda x: x.replace('.', '').strip(' ') if isinstance(x, str) else x)
    return df
dfCountries = cleanString(dfCountries)  # Aplicar a cada columna del DF

dfCountries.head(20)

In [ ]:
# Renombramos las columnas para unificar con el origen de datos 1 
dfCountries.rename(columns={'code':'NOC','name':'Region','total_athletes':'TotalAthletesByNOC', 'notes':'Notes'}, inplace=True)
dfCountries.head(10)

In [ ]:
# Mostramos la información de los 2 DataFrames
print('Dimensión del dataset Athletes: ', athletes.shape, "\n")
athletes.info() 
print(60 * '-')
print('Dimensión del dataset Countries: ', dfCountries.shape, "\n")
dfCountries.info()

In [ ]:
# Unificamos los DataFrames
athletes_df=athletes.merge(dfCountries, how='left', on='NOC')
athletes_df.head(15)

In [ ]:
# Mostramos el número de filas y columnas que contiene el DataFrame
athletes_df.shape

In [ ]:
# Mostramos el resúmen del DataFrame
athletes_df.info()

In [ ]:
# Obtenemos una visión general estadística rápida de las columnas numéricas en el DataFrame. 
# Resúmen estadístico que incluye la tendencia central, la dispersión y la forma de la distribución, excluyendo los valores NaN.
# mean,median,statistical values
athletes_df.describe()

In [ ]:
# Realizamos la comprobación de valores nulos
nan_values= athletes_df.isna()
nan_columns =nan_values.any()
nan_columns

In [ ]:
# Obtenemos el cálculo del total de valores nulos
athletes_df.isnull().sum()

In [ ]:
# Listamos las columnas con valores nulos
athletes_df.columns[athletes_df.isnull().any()].tolist()

In [ ]:
# Realizamos un análisis exploratorio sobre el DataFrame
# Ecuador
athletes_df.query('Team == "Ecuador"').head(5)

In [ ]:
# Brazil
athletes_df.query('Team == "Brazil"').head(5)

In [ ]:
# Listamos el top de paises participantes
top_10_countries=athletes_df.Team.value_counts().sort_values(ascending=False).head(10)
top_10_countries

In [ ]:
# Representación gráfica de la información
# Gráfico de los 10 primeros países
plt.figure(figsize=(12,6))
plt.title('Participación global por pais')
sns.barplot(x=top_10_countries.index, y=top_10_countries, legend=True);

In [ ]:
# Distribución por edades de los participantes
plt.figure(figsize=(12,6))
plt.title('DISTRIBUCIÓN POR EDADES DE LOS ATLETAS')
plt.xlabel('Edad')
plt.ylabel('Número de participantes')
plt.hist(athletes_df.Age, bins =np.arange(10,80,2),color='orange', edgecolor ='white')

In [ ]:
# Por tipo de juegos: winter
winter_sports = athletes_df[athletes_df.Season=='Winter'].Sport.unique()
winter_sports

In [ ]:
#Por tipo de juegos: summer
summer_sports=athletes_df[athletes_df.Season=='Summer'].Sport.unique()
summer_sports

In [ ]:
# Participantes masculinos y femeninos
gender_counts =athletes_df.Sex.value_counts()
gender_counts

In [ ]:
# Gráfico circular de atletas masculinos y femeninos
# El parámetro autopct permite mostrar el valor porcentual utilizando el formato de string
plt.figure(figsize=(12,6))
plt.title('Distribución por género')
plt.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%', startangle=180,shadow=True);

In [ ]:
# Total medallas
athletes_df.Medal.value_counts()

In [ ]:
# Total de atletas femeninas que han participado en cada olimpiada
female_participants= athletes_df[(athletes_df.Sex == 'F')&(athletes_df.Season=='Summer')][['Sex','Year']]
female_participants=female_participants.groupby('Year').count().reset_index()
female_participants.tail()

In [ ]:
womenOlympics =athletes_df[(athletes_df.Sex =='F')&(athletes_df.Season =='Summer')]
sns.set(style='darkgrid')
plt.figure(figsize=(20,10))
sns.countplot(x='Year',data=womenOlympics, legend=False)
plt.title('Participación de mujeres')

In [ ]:
part =womenOlympics.groupby('Year')['Sex'].value_counts()
plt.figure(figsize=(20,10))
part.loc[:,'F'].plot()
plt.title('Gráfico de atletas femeninas a lo largo del tiempo')

In [ ]:
# Atletas con medalla de oro
goldMedals =athletes_df[(athletes_df.Medal=='Gold')]
goldMedals.head()

In [ ]:
# Toma solo los valores diferentes de NaN
goldMedals =goldMedals[np.isfinite(goldMedals['Age'])]

# Medalla de Oro a partir de 60 años
goldMedals['ID'][goldMedals['Age'] > 60].count()

In [ ]:
# Deportes en las que se ganaron las medallas de Oro
sporting_events =goldMedals['Sport'][goldMedals['Age']>60]
sporting_events

In [ ]:
# Gráfico de medallas de oro por deporte para atletas mayores de 60 años
plt.figure(figsize=(10,5))
plt.tight_layout()
sns.countplot(sporting_events)
plt.title('Medallas de oro para atletas mayores de 60 años')

In [ ]:
# Medallas de oro de cada país
goldMedals.Region.value_counts().reset_index(name='Medal').head()
dfGoldMedals = pd.DataFrame(goldMedals.Region.value_counts().reset_index(name='Medal').head())
goldMedals.head()

In [ ]:
# Medallas de oro en los Juegos Olímpicos de Río 
max_year=athletes_df.Year.max()
print(max_year)
team_names = athletes_df[(athletes_df.Year == max_year) & (athletes_df.Medal =='Gold')].Team
team_names.value_counts().head(10)

In [ ]:
# Gráfico de las medallas de oro por país en las olimpiadas de Río 
sns.barplot(x=team_names.value_counts().head(20), y=team_names.value_counts().head(20).index)
plt.ylabel(None);
plt.xlabel('Medallas por países en el año 2016')

In [ ]:
# Gráfico que muestra la relación de las variables Height y Weight de los atletas por género
not_null_medals= athletes_df[(athletes_df['Height'].notnull())& (athletes_df['Weight'].notnull())]
plt.figure(figsize=(12,10))
axis = sns.scatterplot(x="Height", y="Weight", data=not_null_medals, hue="Sex")
plt.title('Altura y peso de los medallistas olímpicos')

## Visualización a través de: Bokeh

In [ ]:
# Asegurándonos de que las visualizaciones aparezcan en el notebook
output_notebook()

# Crear una fuente de datos para Bokeh gráfico 1 Medallas de oro de cada país
source = ColumnDataSource(dfGoldMedals)

In [ ]:
p = figure(x_range=dfGoldMedals['Region'].astype(str), title="Medallas de oro de cada país", toolbar_location=None, tools="")

# Añadiendo las barras para los países con medallas de Oro
p.vbar(x='Region', top='Medal', width=0.4, source=source, legend_label="Medal", color="blue", line_color="white")
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.legend.orientation = "horizontal"
p.legend.location = "top_center"
# Muestra el gráfico
show(p)

In [ ]:
# Gráfico 2
gold_medals = athletes_df[(athletes_df.Year == max_year) & (athletes_df.Medal == 'Gold')]

# Contar las medallas de oro por país
gold_medal_count = gold_medals['Team'].value_counts().reset_index().head(30)
gold_medal_count.columns = ['Team', 'Total']
source2 = ColumnDataSource(gold_medal_count)

In [ ]:
# Crear el gráfico
p = figure(title="Total de medallas por país", x_axis_label='Team', y_axis_label='Total',
           x_range=gold_medal_count['Team'], tools="pan,wheel_zoom,box_zoom,reset")

# Cambiar orientación de x_axis_label
p.xaxis.major_label_orientation = "vertical" 

# Añadir el gráfico de línea
p.line('Team', 'Total', source=source2, line_width=2, color='green', legend_label='Team')
p.scatter('Team', 'Total', source=source2, fill_color="white", size=8, color='green', legend_label='Total medallas')

# Añadir herramienta de hover para mostrar detalles
hover = HoverTool()
hover.tooltips = [
    ("Team", "@Team"),
    ("Total", "@Total")
]
p.add_tools(hover)

# Mostrar el resultado
show(p)

## Visualización a través de: Pywalker

In [ ]:
# Crear una instancia de Walker con el DataFrame 
walker = pyg.walk(gold_medal_count)

In [ ]:
# Crear una instancia de Walker con otro DatFrame trabajado en este Notebook 
walker = pyg.walk(athletes_df)